<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /current/yoonewprojects.com/
##RewriteCond %{REQUEST_FILENAME} !-f
##RewriteRule ^ index.php [L]
##RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule . - [L]
RewriteRule ^/?(.+)([^/])$ $1$2/ [R=301,L]
RewriteRule ^.*$ index.php [L,QSA]
</IfModule>
